<p class="text-primary text-center">Company Lunch - New Year Eve - 2019</p>
<p class=" text-info py-5 text-center">Welocome to party planner! Your suggestions are truely important. we created this to grab suggestion from our employees for our team lunch.</p>
<p class="text-primary text-center"><%= link_to "Already Proposed Places", employees_path, :class => 'btn btn-info' %></p>