<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></meta>
<h1>Get Ready to party Hard</h1>
<h2><%= @employee_name %></h2>
<pre>
Hi, <%= @employee_email %>

Reach us @ <%= @employee_suggestion %>.
</pre>