<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /></meta>
<h1>Reset Password email.</h1>
<h2><%= @employee.name %></h2>
<pre>
Hi, <%= @employee.email %>

Your Member Account has been successfully created.
Please follow the link to reser your password: <%= @url %>.
</pre>